<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- CORS configuration -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
            </customHeaders>
        </httpProtocol>

        <!-- Rewrite rules -->
        <rewrite>
            <rules>
                <!-- API Rewrite -->
                <rule name="BackendAPI" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <action type="Rewrite" url="/index.php/{R:1}" />
                </rule>


                <!-- React Single Page Application (SPA) Routing -->
                <rule name="ReactSPARouting" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/api" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/backend" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>

        <!-- Enable directory browsing -->
        <directoryBrowse enabled="true" />

        <!-- MIME type mapping for JavaScript files with remove to avoid conflict -->
    </system.webServer>
</configuration>
