<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="BackendAPI" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <action type="Rewrite" url="/backend/public/index.php/{R:1}" />
                </rule>

                <rule name="Laravel" stopProcessing="true">
                    <match url="^backend/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/backend/public/index.php/{R:1}" />
                </rule>

                <rule name="ReactSPARouting" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/api" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/backend" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
